body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    margin-top: 10px;
}

.logo {
    width: 220px; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px; 
    margin-top: 0px;
    font-family: "abacaxi-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px; 
}

a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.animation .bar1 {
    transform: translate(0, 7.9px) rotate(-45deg);
}

.animation .bar2 {
    opacity: 0;
}
  
.animation .bar3 {
    transform: translate(0, -7.9px) rotate(45deg);
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 150px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

@media (max-width: 640px) {
    .menu-icon {
        display: inline-block;
    }
    nav {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    .dropdown-menu.active {
        display: flex;
    }
}

.body {
   height: 100%;
    width: 100vw; 
}

.issues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.issue1{
    width: 40vw;
}


.bodytext {
    font-family: "abacaxi-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 18px;
    line-height: 1.6;
    padding: 8em;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px; 
    font-family: "abacaxi-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
}

.footer-text {
    margin: 0;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 1000px){
    #fromjandm {
        display: none;
    }

    .issues {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bodytext {
        font-size: 15px;
        padding: 3em;
    }

    .issue1 {
        width: 80vw;
    }
}
